<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/styles/style.css}">
</head>
<body>
    <h1>Teste de upload</h1>
    <form th:action="@{/salvarImagem}" method="POST" enctype="multipart/form-data">
            <div class="inputFile">
                <input type="file" id="file-1" name="file" accept="image/*">

                <label for="file-1" id="file-1-preview">
                    <img src="https://bit.ly/3ubuq5o" alt="img-produto">
                </label>
            </div>

        <div class="inputFile">
            <input type="file" id="file-2" name="file" accept="image/*">

            <label for="file-2" id="file-2-preview">
                <img src="https://bit.ly/3ubuq5o" alt="img-produto">
            </label>
        </div>

        <div class="inputFile">
            <input type="file" id="file-3" name="file" accept="image/*">

            <label for="file-3" id="file-3-preview">
                <img src="https://bit.ly/3ubuq5o" alt="img-produto">
            </label>
        </div>

        <div class="inputFile">
            <input type="file" id="file-4" name="file" accept="image/*">

            <label for="file-4" id="file-4-preview">
                <img src="https://bit.ly/3ubuq5o" alt="img-produto">
            </label>
        </div>

        <div class="inputFile">
            <input type="file" id="file-5" name="file" accept="image/*">

            <label for="file-5" id="file-5-preview">
                <img src="https://bit.ly/3ubuq5o" alt="img-produto">
            </label>
        </div>

        <input type="submit" value="Enviar">

    </form>


<script th:src="@{/scripts/script.js}"></script>
</body>
</html>